/* - - - - VARIABLES - - - - */
:root {
	--color-base-blue: #04293A;
	--color-dark-blue: #041C32;
	/* input background */
	--color-light-blue: #064663;
	--color-hover-text: #2D4263;
	--color-light-yellow: #ECDBBA;
	--color-full-yellow: #ECB356;
	--color-red: #C84B31;
	--color-logo-blue: #0057FF;

	--title-font: 'Bebas Neue', cursive;
	--subtitle-font: 'Playfair Display', serif;
	--body-font: 'Montserrat', sans-serif;
}

/* - - - - RESET CSS - - - - */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	background: transparent;
	font-family: inherit;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

button,
textarea,
select {
	appearance: none !important;
	border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

body {
	background-color: var(--color-base-blue);
}

/* - - - - NAVIGATION - - - - */
.header {
	position: fixed;
	width: 100%;
	z-index: 100;

	padding: 25px 0 12px;
	background-color: var(--color-base-blue);

	transition: padding .25s;
}

.header.active {
	padding-top: 16px;
	border-bottom: 1px solid var(--color-light-blue);
}


.navbar__container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 12px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: var(--body-font);
}

.navbar__container>.logo {
	position: relative;

}

.logo>img {
	height: 26px;
}

.logo-underline {
	position: relative;
	left: 42px;
	bottom: 6px;

	width: 14px;
	height: 3px;

	border-radius: 2px;

	background-color: var(--color-logo-blue);
}

.navigation-container {
	position: absolute;
	top: 70px;
	left: 0;
	width: 250px;
	height: 100vh;

	padding: 10px 10px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

	transform: translateX(-265px);
	background-color: rgba(236, 219, 186, 0.6);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	transition: transform .5s ease-in;
}

.navigation-container.active {
	top: 62px;
}

.navigation-container.open {
	transform: translateX(0px);
}

.navbar__list {
	list-style: none;
}

.navbar__list-item {
	color: var(--color-hover-text);
	padding: 20px 0px 8px;
	border-bottom: 6px solid transparent;

	transition: .35s;
}

.navbar__list-item:hover {
	font-weight: 600;
	text-transform: capitalize;

	padding-left: 10px;
	border-bottom: 6px solid var(--color-full-yellow);
}

.hamburger-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;

	width: 32px;
	height: 32px;

	cursor: pointer;

	transition: all .5s ease-in-out;
}

.bar-top,
.bar-mid,
.bar-bottom {
	position: relative;

	height: 3px;
	width: 20px;
	border-radius: 2px;

	background-color: white;
	transition: all .5s ease-in-out;
}

.bar-top.active {
	transform: translateY(8px) rotate(45deg);
}

.bar-mid.active {
	width: 0;
	opacity: 0;
}

.bar-bottom.active {
	transform: translateY(-8px) rotate(-45deg)
}

.hamburger-menu.active:hover {
	background-color: var(--color-red);
}

/* - - - - END NAVIGATION - - - - */

/* - - - - MAIN - - - - */
.main-container {
	width: 100%;
	height: 100vh;
}

.image-container {
	width: 100%;
	height: 90vh;

	background-image: linear-gradient(180deg, #04293A 12%, rgba(4, 41, 58, 0.4) 40.1%, #04293A 85%), url(/assets/img/eberhard-grossgasteiger-ofxFTUWoHNY-unsplash_S.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.name-container {
	position: absolute;
	top: 35vh;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	padding: 20px;

	font-family: var(--title-font);
	font-size: 60px;
	line-height: 110px;
	letter-spacing: 2px;
	text-align: center;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.001px var(--color-full-yellow);

	color: rgba(4, 41, 58, 0);
}

.forward-icon-container {
	position: relative;
	bottom: 10%;

	width: 30px;
	height: 55px;

	margin: 0 auto;
	text-align: center;

	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 15px;

	transition-duration: .3s;
	transition-delay: .1s;
}

.forward-icon-container:hover {
	filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
}

.fa-sort-down {
	width: 26px;
	height: 51px;

	padding-top: 25px;
	font-size: 20px;
	color: rgba(255, 255, 255, .5);

	transition-duration: .3s;
	transition-delay: .1s;
}

.fa-sort-down:hover {
	animation: down-forward .8s ease-in infinite;
	filter: drop-shadow(0 0 4px #fff);
}

@keyframes down-forward {
	0% {
		padding-top: 25px
	}


	60% {
		padding-top: 20px
	}

	100% {
		padding-top: 25px
	}
}

/* - - - - END MAIN - - - - */

/* - - - - PORTFOLIO - - - - */

/* - - - - END PORTFOLIO - - - - */

/* - - - - ABOUT - - - - */

.title-container {
	position: relative;
	width: 100%;
	height: 84px;

	margin-top: 70px;

	text-align: center;
	font-family: var(--title-font);
}

.title-front {
	position: relative;
	top: -73px;

	font-size: 50px;
	font-weight: 700;
	letter-spacing: 3px;
	color: var(--color-full-yellow);
}

.title-back {

	font-weight: 700;
	font-size: 70px;
	letter-spacing: 8px;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: .01px rgba(255, 255, 255, .1);
}

.personal-container {
	display: flex;
	flex-wrap: wrap;
	gap: 46px;

	width: 100%;
}

.profile-image {
	position: relative;

	width: 100%;
	height: 237px;

	padding: 0 15px;

	background-color: #C84B31;
}

.image-name {
	transform: rotate(-90deg);

	font-family: var(--subtitle-font);
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;

	letter-spacing: 0.06em;

	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--color-full-yellow);
}

.image-name:first-child {
	position: absolute;
	right: -35px;
	bottom: 30px;
}

.image-name:last-child {
	position: absolute;
	right: 5px;
	bottom: 0;
}

.introduction-text {
	padding: 0 15px;

	font-family: var(--body-font);
	font-weight: 200;
	font-size: 14px;
	line-height: 22px;

	letter-spacing: 0.05em;

	color: white;
}

.skills-container {
	max-width: 650px;

	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	justify-content: center;

	margin: 100px auto 0;
	padding: 0 15px;
}

.skill-container {
	position: relative;
	bottom: 0;

	display: flex;
	flex-direction: column;

	width: 80px;

	margin-bottom: 27px;

	cursor: pointer;

	transition-duration: .3s;
	transition-delay: .1s;
}

.web {
	height: 88px;
}

.skill-container:hover {
	bottom: 5px;
}

.skill-name {
	opacity: 0;

	margin-bottom: 6px;

	text-align: center;

	font-family: var(--body-font);
	font-size: 8px;
	font-weight: 700;
	color: white;

	transition-duration: .3s;
	transition-delay: .1s;
}

.skill-container:hover .skill-name {
	opacity: 1;
}

.skill-icon {
	margin-bottom: 14px;
	text-align: center;
	font-size: 50px;
	color: rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

.skill-container:hover .skill-icon {
	color: rgb(255, 255, 255);
}

.reference-bar {
	width: 100%;
	height: 1px;

	background-color: rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

.skill-container:hover .reference-bar {
	background-color: rgb(255, 255, 255);
}

.xp-level {
	width: 50%;
	height: 1px;

	margin-bottom: 1px;

	background-color: var(--color-light-yellow);

	transition-duration: .3s;
	transition-delay: .1s;
}

.skill-container:hover .xp-level {
	height: 6px;
	background-color: var(--color-full-yellow);

}

.html-knowlege {
	width: 70%;
}

.css-knowlege {
	width: 65%;
}

.scss-knowlege {
	width: 60%;
}

.bootstrap-knowlege {
	width: 45%;
}

.js-knowlege {
	width: 50%;
}

.react-knowlege {
	width: 40%;
}

.design-container {
	width: 100%;
	background-color: var(--color-dark-blue);

	padding: 40px 0;
}

.designs {
	margin: 0 auto;
}

.design {
	height: 29px;
}

.design-skill-name {
	margin-bottom: 10px;

	font-family: var(--body-font);
	font-size: 9.5px;
	font-weight: 500;

	color: rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

.skill-container:hover .design-skill-name {
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
}

.photoshop-knowlege {
	width: 65%;
}

.illustrator-knowlege {
	width: 75%;
}

.indesign-knowlege {
	width: 80%;
}

.premierepro-knowlege {
	width: 55%;
}

.aftereffects-knowlege {
	width: 45%;
}

.dsmax-knowlege {
	width: 40%;
}

.behance-link {
	max-width: 300px;
	width: 90%;
	height: 56px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	margin: 25px auto 0;
	border: 2px solid rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

.behance-link:hover {
	height: 56px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 6px solid var(--color-full-yellow);

	background-color: var(--color-light-yellow);
}

.behance-text {
	width: 180px;
	text-align: center;

	font-family: var(--body-font);
	font-size: 16px;
	font-weight: 500;
	color: rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

.behance-link:hover .behance-text {
	color: var(--color-hover-text);
}

.btn-behance {
	display: none;
	font-size: 30px;
	color: var(--color-hover-text);
}

.behance-link:hover .btn-behance {
	display: block;

	transition-duration: .3s;
	transition-delay: .1s;
}

/* - - - - END ABOUT - - - - */

/* - - - - CONTACT - - - - */

.contact-container {
	width: 100%;

	background-image: url(/assets/img/jason-blackeye-FzURx0rFhUk-unsplash_S.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.gradient {
	background-image: linear-gradient(180deg, #04293A 0%, rgba(4, 41, 58, 0.5) 100%);
}

.contact-form-group {
	position: relative;

	margin: 0 auto;
	padding: 70px 15px;

	max-width: 755px;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

}

.sender-data-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.sender-data {
	max-width: 352px;
	width: 100%;
	height: 40px;

	font-family: var(--body-font);
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: white;

	border: 1px solid rgba(255, 255, 255, 0);

	padding-inline: 12px;
	background-color: var(--color-light-blue);
}

#message:hover,
.sender-data:hover {
	border: 1px solid rgba(255, 255, 255, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

#message:focus,
.sender-data:focus,
#btn-send-message:hover {
	font-weight: 400;
	color: var(--color-hover-text);
	background-color: var(--color-light-yellow);

	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 6px solid var(--color-full-yellow);

	transition-duration: .3s;
	transition-delay: .1s;
}

#message {
	width: 100%;

	font-family: var(--body-font);
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: white;

	border: 1px solid rgba(255, 255, 255, 0);

	padding: 12px;
	background-color: var(--color-light-blue);
}

#btn-send-message {
	position: relative;
	width: 100%;
	height: 41px;

	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;

	font-family: var(--body-font);
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.02em;
	color: rgba(255, 255, 255, .3);

	border: 2px solid rgba(255, 255, 255, .3);
	background-color: rgba(6, 70, 99, .3);

	transition-duration: .3s;
	transition-delay: .1s;
}

#btn-send-message>i.fa-envelope {
	display: none;

	color: var(--color-hover-text);
	font-size: 20px;

	transition-duration: .3s;
	transition-delay: .1s;
}

#btn-send-message:hover {
	height: 41px;

	font-weight: 400;
	color: var(--color-hover-text);
	background-color: var(--color-light-yellow);

	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 6px solid var(--color-full-yellow);

}

#btn-send-message:hover .fa-envelope {
	display: block;
}

/* - - - - END CONTACT - - - - */

/* - - - - FOOTER - - - - */

.footer {
	background-color: var(--color-dark-blue);
}

.footer-container {
	max-width: 755px;
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	gap: 40px;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	padding: 33px 15px;
}

.footer-right {
	position: relative;
	bottom: 7px;

	width: 100%;
	display: flex;
	gap: 14px;
	justify-content: space-between;

	align-items: center;

	padding: 0 8px 2px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.footer-links {
	display: flex;
	flex-wrap: nowrap;
	gap: 14px;

	font-size: 25px;
	color: rgba(255, 255, 255, .3);
}

.footer-link {
	position: relative;
	bottom: 0;

	transition-duration: .3s;
	transition-delay: .1s;
}

.footer-link:hover {
	bottom: 2px;
	color: white;
}

.rights {
	font-family: var(--body-font);
	font-size: 8px;
	font-weight: 300;

	justify-self: flex-end;
	color: white;
}

/* - - - - END FOOTER - - - - */